<% include partials/head.ejs %>
  <body class="login">
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form id="form" method="POST" action="" >
              <h1>Ingreso</h1>
              <div>
                <input id="email"name="login" type="text" class="form-control" placeholder="Correo" required="" />
              </div>
              <div>
                <input id="password" name="password" type="password" class="form-control" placeholder="Clave" required="" />
              </div>
              <div>
                <button class="btn btn-default submit" name="opc" value="ingresar">
                    ingresar
                </button>
                <!-- 
                    <a class="reset_pass" href="#">Lost your password?</a>
                -->
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">
                  <a href="signup" class="to_register"> Crear una cuenta </a>
                </p>

                <div class="clearfix"></div>
                <br />
              </div>
            </form>
          </section>
          <% include partials/footer.ejs %>  
        </div>
      </div>      
    </div>
    
    <script>
          document.getElementById("form").addEventListener("submit", function(e) {
            e.preventDefault();
            console.log("its runnning")
            let form = {
                email: document.getElementById('email').value,
                password: document.getElementById('password').value
            }
            console.log(form);
            // @TODO hacer funcion de post para enviar formulario
            $.post('/auth/local/', form, function( data ) {
                    console.log("something");
                  });
            //*/
            });
    </script>
  </body>
</html>